data
assignment1-basics/outputs
assignment1-basics/outputs_owt
assignment1-basics/cs336_basics/outputs_owt
assignment1-basics/cs336_basics/outputs_tinystories
assignment1-basics/cs336_basics/checkpoints
assignment1-basics/cs336_basics/bs_sweep_results
assignment1-basics/cs336_basics/lr_sweep_results
